/* ===== FONTES ===== */

@font-face {
    font-family: "Clements";
    src: url("../assets/fonts/Clements Morgle Serif.otf");
}

@font-face {
    font-family: "FiraLight";
    src: url("../assets/fonts/FiraSans-Light.ttf");
}

@font-face {
    font-family: "Creato";
    src: url("../assets/fonts/CreatoDisplay-Regular.otf");
}

/* ===== CORES ===== */

:root {

    --dark-blue: #25234C;
    --blue: #5483B6;
    --light-blue: #70ABE0;

    --pink: #EA659B;
    --purple-pink: #C516C4;

    --gray: #3D3D3D;

    --white: #FFFFFF;
    --black: #000000;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}

body {
    font-family:"Creato";
    background:
        radial-gradient(
            circle at top,
            #25234C,
            #000000
        );
    color:#fff;
}

header {

    position:sticky;

    top:0;

    z-index:1000;

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 80px;

    background:rgba(0,0,0,0.85);

    backdrop-filter:blur(10px);

}

nav {

    display:flex;

    gap:40px;

}

nav a {

    color:white;

    text-decoration:none;

    font-family:"Creato";

    transition:0.3s;

}

nav a:hover {

    color:var(--light-blue);

}

.section-divider {

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px 0;

}

.section-divider img {

    max-height: 80px;

    width: auto;

    display: block;

}

.hero {

    position: relative;

    min-height: 100vh;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    background: #25234C;

}

.hero-bg {

    position: absolute;

    inset: 0;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    transition: opacity 2s ease;

}

.hero-bg-1 {

    opacity: 0;

}

.hero-bg-2 {

    opacity: 0;

}

.hero-content {

    position: relative;

    z-index: 3;

}

.hero::after {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.45);

    z-index: 2;

}

.hero h1 {

    font-family:"Clements";

    font-size:7rem;

    color:white;

}

.hero p {

    font-family:"FiraLight";

    font-size:1.4rem;

    color:white;

}

section {

    min-height:100vh;

    padding:120px;

    scroll-margin-top:80px;

}

h2 {

    font-family:"Clements";

    font-size:4rem;

    margin-bottom:40px;

}

p {

    font-family:"Creato";

    font-size:1.4rem;

    color:white;

}